---
const titles = ['あああ', 'いいい', 'ううう', 'えええ', 'おおお'];
const years = [1990, 2000, 2010, 2020, 2030];

const chronologicalOrder = titles.map((title, index) => {
    return {
        title: title,
        year: years[index],
    };
});
---

<ol>
    <li></li>
</ol>
